<h2>Contents</h2>

<p>
  <%= link_to 'New Content', new_content_path %>
</p>

<div class="gallery_container">
  <% @contents.each do |content| %>
    <span class="item">
      <p>
        <h3>
          Title:
        </h3>
        <%= content.title %> 
      
        <h3>
          Description:
        </h3>
        <%= content.description.truncate(30)%>

        <h3>
          Tags:
        </h3>
        
        <%= content.tags.pluck(:name).join " | " %>
        
      </p>
      <p>
        <%= link_to  "Details", content %> - 
    
        <%= link_to  "Edit", edit_content_path(content) %> - 

        <%= link_to  "Delete", content, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    </span>
  <% end %>
</div>